body {
    margin-top: 1%;
}

.startLogo{
    margin-left: 20%;
}

.formLogin {
    margin-top: 5%;
    margin-left: 40%;
}

.input{
    margin-top: 1%;
    width: 300px;
}

.buttonNewApplier {
    margin-top: 2%;
    margin-left: 40%;
    width: 300px
}